.header{
    // margin-top: 2rem;
    display: flex;
    flex-direction: column;
    h3{
        margin: 0;
    }
    span {
        color: grey;
        margin-top: .5em;
    }
}

.logo{
    img {
        max-width: 150px;
        margin-left: -10px;
    }
}